@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.options{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-right: 10vw;
}
.item{
    padding: 30px;
}
.logo{
  margin-top: 3vh;
  margin-left: 5vw;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
}
.box{
    background-color: rgba(194, 194, 194, 0.345);
    width: 3180px;
    height: 780px;
    margin-top: -2vh;
}
.text{
margin-left: 10vw;
margin-top: 15vh;
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 700;
font-style: normal;
font-size: 100px;
display: inline-block;
}
.text1{
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-size: 40px;
margin-top: 2vh;
margin-left: 10vw;
}
 .box1{
    background-color: rgba(194, 194, 194, 0);
    width: 750px;
    height: 350px;
    margin-left: 10vw;
    margin-top: -40vh;
 }
 .text2{
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: italic;
font-size: 30px;
color: black;
margin-top: 3vh;
 }

.box2{
background-color: black;
width: 150px;
height: 40px;
border-radius: 4px;
margin-top: 5vh;
display: inline-block;
}
.button{
color: white;
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
margin-left: 2.4vw;
margin-top: 1vh;
}
.circle{
position: absolute;
width: 900.58px;
height: 773px;
left: 662px;
top: 80px;
border-radius: 0px 0px 0px 1200px;
background: #BEBEBE;
margin-left:23.5vw;

}
.box3{
    background-color: rgb(255, 255, 255);
  width: 3180px;
    height: 780px;
}
.text3{
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: italic;
font-size: 20px;
}
 .box4{
 background-color: rgb(255, 255, 255);
 height: 300px;
 width: 800px;
 margin-left: 30vw;
 margin-top: 15vh;
 display: inline-block;
 }
 .note{
font-family: "Montserrat", serif;
font-optical-sizing: auto;
font-weight: 900;
font-style: italic; 
margin-top: -43vh;
margin-left: 30vw;
 }
 .call{
 color: rgb(63, 61, 61);
 font-family: "Montserrat", serif;
 font-optical-sizing: auto;
 font-weight: 700;
 font-style: normal;
 font-size: 30px;
 margin-top: 7vh;
 margin-left: 41vw;  
 }
 .box5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 250px;
    margin-top: -20vh;
    margin-left: -7vw;
 }
 .item1{
    background-color: rgb(194, 194, 194, 0.345);
    height: 220px;
    width: 450px;
    margin: 70px; 
    justify-content: space-between;
 }
 .title1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5vw;
    margin-top: -74vh;
 }
 .title2{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 260px;
 }
 .option2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1vw;
    margin-top: -60vh;
 }
 .text4{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 70px;
   text-align: center;
 }