@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.background{
   /* Desktop Wireframe */

position: relative;
width: 1850px;
height: 3867px;
margin-left: 5vw;
/* background: #39bb06; */
}
.box{
  /* Navigation Bar */

position: absolute;
width: 1200px;
height: 120px;
left: 500px;
top: 0px;
background-color: rgb(255, 255, 255);
}
.brandlogo{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  margin-top: 5vh;
  margin-left: 7vw;
  display: inline-block;
}

.project-container {
  display: flex;
  flex-direction: row;
  margin-top: 3.5vh;
  margin-left: 35vw;
}
.project-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.name{
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
     margin: 18px  8px 150px;
}

.box1{
  /* Hero Banner */

position: absolute;
width: 2032px;
height: 526.44px;
left: -100px;
top: 120px;
background-color: #7c1414f0;
}

.mainbox{
  /* Container */

position: absolute;
width: 1200px;
height: 3870px;
left: 120px;
top: 0px;
background-color: bisque;

}
 .box2{
  /* Img */

/* position: absolute; */
width: 650.58px;
height: 494.44px;
left: 1700px;
top: 248px;

background: #E4E4E4;


/* Frame */

position: absolute;
width: 248px;
height: 248px;
left: 995px;
top: 188px;


 }
 .box3{
  background-color: rgb(0, 166, 238);
  width: 300px;
  height: 300px;
  margin-left: -10vw;
 }