* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: black;
}

a {
    position: relative;
    display: inline-block;
    padding: 60px 120px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    font-size: 1.2re;
    font-weight: bold;
    transition: .5s;
    overflow: hidden;
    margin-right: 250px;
    background-color: rgb(5, 26, 61);
}
a:hover{
    background-color: #052964;
    color: #ffffff;
    box-shadow: 0 0 5px #eeff00,
                0 0 25px #ff0707,
                0 0 50px #00ddff,
                0 0 200px #00ff0d;
    -webkit-box-reflect: below 1px linear-gradient(transparents, rgb(127, 90, 90));            
}

a:first-child{
    filter: hue-rotate(225deg);
}

a:last-child{
    filter: hue-rotate(90deg);
}
  span{
    position: absolute;
    display: block;
}

 span:nth-child(1){
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #ffffff);
    animation: animate1 1s infinite;
}
@keyframes animate1 {
    0%{
        left: -100%;
    }
    100%{
        left: 100%;
    }
}
 a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ffffff);
    animation: animate2 1s infinite;
    animation-delay: .25s;
 }